
/*
"Vivid Tangerine": #ffa69e
"Salmon": #ff7e6b
"Rose Taupe": #8c5e58
*/

*{
	border-box: box-sizing;
}
.bg-light {
	background-color: white !important;
}

.link-dark {
  font-family: 'Anton', sans-serif;
  font-size: 20px;
}

.link-dark:hover {
  font-size: 25px;
}

body {
	font-family: 'Open Sans', sans-serif;
}

.wrapper {
  height: 300px;
}

.loader{
  width: 50px;
}

.title {
	font-family: 'Anton', sans-serif;
  color: white;
	color: #61122f;
	margin: 10px 0px 10px 0px;
}

h2 {
   text-align: center;
   text-transform: capitalize;
   margin: 50px 0px 30px 0px ;
} 

/*Header*/
.bg-light {
  height: 160px;
}

#logo-id {
	background-image: url("../image/lobster.png");
	width: 64px;
	height: 64px;
}

#text-right {
   text-align: center;
}

/*main*/
.img-fluid {
   width: 100%;
   height: 370px;
} 

.container .jumbotron {
   margin-bottom: 15px; 


}

#tile-menu {
  background: url("../image/ebibowl.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

#tile-specials {
  background: url("../image/salmon.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

#tile-menu , #tile-specials, #tile-map {
  position: relative;
  width: 100%;
  height: 330px;
  margin-bottom: 15px;
}

#tile-menu:hover , #tile-specials:hover, #tile-map:hover {
  
  
}

#tile-menu span, #tile-specials span, #tile-map span {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 40px;
  background-color:rgba(0, 0, 0, 0.5) ;
  text-align: center;
  color: white;
  font-size: 2em;
  text-transform: uppercase;
  
}

/* footer*/
.panel-footer {
	background-color: #8c5e58;
	color: white;
   margin-top: 30px;
   padding-top: 30px;
}

section > span {
   font-size: 1.8em;
}

section > p {
  font-style: italic;
}

section {
   margin-bottom: 50px;
}

#location > p {
   margin-top: 10px;
   color: black;
}

.panel-footer section hr {
   margin: auto;
   margin-top: 20px;
   width: 50%;
}

.call {
   text-decoration: none;
   color: white;
   font-size: 1.8em;
}

.call:hover {
   color: black;
}

/*menu category*/
div .tile-category {
  position: relative;
  width: 230px;
  margin-bottom: 20px;
} 

.tile-category span{
   position: absolute;
   bottom: 0px;
   left: 0px;
   background-color:rgba(0, 0, 0, 0.5) ;
   color: white;
   width: 100%;
   text-align: center;
   font-size: 1.5em;

} 
/*single category*/
.menu-item-img {
   position: relative;
}
div .menu-item-img span {
   position: absolute;
   bottom: 0;
   right: 0;
   color: white;
   font-weight: bold;
   border: 1px solid #32373b;
   border-radius: 10px;
   background-color: #32373b;
   text-align: center;
   width: 40px;
}
img {
   width: 100%;
   height: auto;
}

.price {
   text-align: right;
   margin: 10px 0px 10px ;
}

.menu-item-description {
  font-size: .9em;
}

/********** Large devices only **********/
@media (min-width: 1400px){ 

/*main*/
   .container {
      max-width: 1223px;
   }

/**/
}

@media (min-width: 1200px) {

/*main*/
    .container .jumbotron {
      background-image: url("../image/restaurant_b.jpg");
      background-repeat: no-repeat;
      background-position: center;
      width: 100%;
      height: 700px;
    }

/*menu category*/
   .row-for-category {
      overflow: hidden ;
   }
   .tile-category img {
      width: 277px;
   }

  .tile-category span{
      width: 120%;
   } 
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {

/*main*/
   .container .jumbotron {
      background-image: url("../image/restaurant_m.jpg");
      background-repeat: no-repeat;
      width: 100%;
      background-position: center;
      height: 558px;
   }


/**/

}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {

 /*main*/
   .jumbotron {
      background-image: url("../image/restaurant_m.jpg");
      background-repeat: no-repeat;
      background-position: center;
      width: 100%;
      height: 558px;
    }

   .container {
      max-width: 100%;
   }
/**/
}

/********** Extra small devices only **********/
@media (min-width: 576px) and (max-width: 767px) {


/*Header*/
	#logo-id {
		background-image: url("../image/lobster_small.png");
		width: 48px;
    height: 48px;
  }

  .link-dark {
  font-size: 17px;
  }

  .link-dark:hover {
    font-size: 15px;
  }



/*main*/
   .jumbotron {
	   background-image: url("../image/restaurant_s.jpg");
	   background-repeat: no-repeat;
	   background-position: center;
	   width: 100%;
	   height: 432px;
	}

   .container {
      max-width: 100%;
   }

/*Footer*/
   section {
      text-align: center;
   }

   #id_contact {
      margin-top: 30px;
   }
}

@media (max-width: 575px) {

/*Header*/
	a.nav-link{
		font-size: .8em;
	}

	#logo-id {
		background-image: url("../image/lobster_small.png");
		width: 48px;
      height: 48px;
	}

    
/*main*/ 
   #tile-menu , #tile-specials, #tile-map, #map {
      width: 100%;
      height: 180px;
      margin-bottom: 15px;
   }

/*Footer*/
   section {
      text-align: center;
   }

   #id_contact {
      margin-top: 30px;
   }
/*single category*/
   .menu-item-img {
     position: relative;
   }
   div .menu-item-img span {
     position: absolute;
     right: auto;
   }

   .price {
   text-align: center;
}

}
